extends base
include mixins/video.pug

block content
    div(class="mb-3")
        form(method="GET")
            input(name="keyword", placeholder="Search by title", type="text", class="search")
            input(type="submit", value="Search", class="btn btn-secondary")
    
    ul
        each video in videos 
            +video(video)